.navbar-main-frame {
    width: 100%;
    padding: 15px 50px 15px 50px;
    border: 1px solid red;
}

.navbar-logo {
    font-weight: var(--paragraph-fw);
}

.navbar-items {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.heart-icon {
    height: 15px;
    position: relative;
    top: 2px;
    fill: var(--primary-color);
}

.navbar-items-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    list-style: none;
    width: 489px;
}

.navbar-item {
    font-size: var(--paragraph-fs);
    font-weight: var(--paragraph-fw);
    color: var(--navbar-link-unactive);
}